<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
  <div formGroupName="info">
    <div class="form-group">
      <label for="username">Username: </label>
      <input formControlName="username" type="text" class="form-control" id="username">
      <span class="alert alert-danger" *ngIf="!inputForm.get('info.username').valid && inputForm.get('info.username').touched">Please enter a username</span>
    </div>

    <div class="form-group">
      <label for="email">Email: </label>
      <input formControlName="email" type="text" class="form-control" id="email">
      <span class="alert alert-danger" *ngIf="!inputForm.get('info.email').valid && inputForm.get('info.email').touched && inputForm.get('info.email').errors['required']">Please enter an email</span>
      <span class="alert alert-danger" *ngIf="!inputForm.get('info.email').valid && inputForm.get('info.email').touched && inputForm.get('info.email').errors['isBannedEmail']">Your email is banned</span>
    </div>
  </div>

  <div class="radio" *ngFor="let gender of genders">
    <label>
      <input formControlName="gender" type="radio" [value]="gender">{{gender}}
    </label>
  </div>
  <span class="alert alert-danger" *ngIf="!inputForm.valid && inputForm.touched">Please enter valid data</span>
  
  <div formArrayName="colors">
      <h4>Enter your colors</h4>
      <button class="btn btn-primary" type="button" (click)="onAddColorsClick()">Add Colors</button>
    <div class="form-group"
         *ngFor="let colorControl of inputForm.get('colors').controls; let i = index">
        <input type="text" class="form-control" [formControlName]="i">
    </div>
    </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
