<form [formGroup]="inputForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="username">Username: </label>
        <input formControlName="username" type="text" class="form-control" id="username">
    </div>

    <div class="form-group">
        <label for="email">Email: </label>
        <input formControlName="email" type="text" class="form-control" id="email">
    </div>

    <div class="radio" *ngFor="let gender of genders">
        <label>
      <input formControlName="gender" type="radio" [value]="gender">{{gender}}
    </label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>